{
  "arrowParens": "always",
  "trailingComma": "all",
  "indent": [
    "error",
    2,
    {
      "SwitchCase": 1,
      "ObjectExpression": 1,
      "MemberExpression": 1,
      "FunctionDeclaration": { "body": 1, "parameters": 2 }
    }
  ]
}
